.hover-bg-light:hover{
    background-color: #ededed;
}

.scroll-container {
     scrollbar-width: thin;
     max-height: 94vh;
     min-width: 10vw;
  }

.scroll-container:hover{
  overflow-y: scroll;
  overflow-x: hidden;
}